html{
    box-sizing: border-box;
    /*font-family: "Young Serif", serif;*/
    font-family: "Outfit", sans-serif;
    margin:0;
    padding:0;
}

*, *::before, *::after{
    box-sizing: inherit;
}

h1, h2, h4{
    font-family: "Young Serif", serif;
}

h2 {
    color:#854632;
}

h4{
    padding-left: 20px;
    color:#7b284f;
}

body{
    background-color: white;
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content{
    border-radius: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width:350px;
    height: auto;
    justify-content: center;
    padding:20px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.51);
}

.background-picture{
    background-image: url("image-omelette.jpeg");
    background-size: cover;
    background-position: center;
    position:relative;
    left:-20px;
    top:-20px;
    width:350px;
    height: 200px;
}


.recipe{
    width:100%;
    height:auto;
}

.prep-time{
    padding-top:10px;
    padding-bottom: 10px;
    background-color:#f5ebef;
    height:auto;
    border-radius: 10px;
}


.ingredients{
    width:100%;
    height:auto;
}

.ingredients ul{
    position:relative;
    left:-20px;
    margin: 0;
}

.ingredients ul li{
    padding-left: 20px;
    margin:0;
}

.instructions ol{
    position:relative;
    left:-20px;
    margin: 0;
}

.instructions ol li{
    padding-left: 20px;
    margin:0;
}

.nutrition{
    width: 100%;
}

table{
    width:100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px dotted;
    line-height: 50px;
  }

tr:last-child{
    border-bottom: none;
}
.padd{
    position:relative;
    left: 40px;
}

td:nth-child(2){
    color:#7b284f;
}

span, .boldText{
    font-weight: 700;
}

ol li::marker {
    color: #854632;
    
    color:#f5fffa;
    color:#f3e6d8;
    color: #e4ded8;
    color:#5f574e;
    color:#302d2c;

    color:#7b284f;
    font-weight: 700;
}

ul li::marker {
    color:#7b284f;
}

ul li {
    padding-left:15px;
}

.mainColor{
    color:#7b284f;
}



@media only screen and (min-width: 800px) {
    .background-picture{
        width:100%;
        height: 250px;
        left:0;
        top:0;
        border-radius: 10px;
    }


    .content{
        border-radius: 20px;
        width:45%;
        height: auto;
    }


    body{
        margin-top:50px;
        margin-bottom: 50px;
        background-color: #f3e6d8;
        padding:0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}